.signInApple {
  --button-color: black !important;
  background-color: white !important;
  filter: invert();
}

.signInApple:hover {
  --button-color: black !important;
  background-color: #aaa !important;
  filter: invert();
}

.hovershadow {
  transition: all 0.3s;
  z-index: 1;
  border: none !important;
  box-shadow: none !important;
}

.hovershadow svg {
  transition: transform 0.3s ease;
  transform-origin: center;
}

.hovershadow:hover svg {
  transform: scale(1.3);
}

.hovershadow:hover {
  filter: saturate(1.1) brightness(1.1);
  cursor: pointer;
  z-index: 2;
}

.hovershadow:active {
  filter: saturate(1.7) brightness(0.8);
  cursor: pointer;
  z-index: 0;
}

.trsnedit {
  transition: all 0.5s ease;
  max-width: 6em;
  height:2.5em;
  overflow: visible;
  min-width: 0;
  flex-shrink: 1;
  flex-direction: row;
  opacity:1;
  background-color: #ff9898 !important;
}

.trsnedit.collapsed {
  transform: scaleX(0) !important;
  opacity: 0;
  max-width: 0em;
}